<div class="@CssClass">
    @ChildContent
</div>
<!-- /.card-footer -->

@code {

    private string CssClass => CssBuilder.CssClass().AddClass("card-footer").AddClass(Attributes).Build();

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> Attributes { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}